.container {
    /* background: linear-gradient(45deg, #7d233e, #ccabad, #320138);
    background-size: 400% 400%;
    animation: gradientAnimation 10s linear infinite; */
    /* border-radius: 20px; Set border radius for the main container */
    padding: 20px;
    text-align: center;
    /* color: #fff; */
    border: none;
}

.collapsible-header {
    /* * Set border radius for the subsection headers */ 
    border: none;
}

.collapsible-body {
    border-radius: 20px; /* Set border radius for the subsection bodies */
    border: none;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
body{

        background: linear-gradient(45deg, #7d233e, #ccabad, #320138);
        background-size: 400% 400%;
        animation: gradientAnimation 10s linear infinite;
        border: none;
}